/* Common Styles */
/* For Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* For Bootstrap Icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
  font-family: "Poppins", sans-serif;
}
header {
  margin-bottom: 130px;
}
main {
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 130px;
}
section {
  margin-bottom: 130px;
}
/* nav style */
nav {
  margin-left: 170px;
  margin-right: 170px;
}
nav .nav-logo {
  font-weight: 700;
}
/* Banner part */
.item .carosel-text {
  padding-bottom: 80px;
  width: 40vw;
  right: 0;
  bottom: 0;
  left: 500px;
}
.carosel-text p {
  font-weight: 200;
}
.item h5 {
  font-weight: 500;
}
/* Preciouse Moment style */
.preciouse-moment img {
  width: 100%;
}
.toast {
  border-left: 6px solid #3f87f5 !important;
  width: 260px !important;
  right: 0;
  bottom: 0;
  margin: 0;
}
.toast-body .toast-icon {
  font-size: 22px;
}
/* Package Section */
.package {
  width: 100%;
}
.package-item .description {
  font-size: 14px;
  font-weight: 300;
  color: #848199;
}
.hot {
  width: 292px;
  height: 480px;
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
  background: #3f87f5;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}
.hot .hot-logo {
  top: 1540px;
  right: 0;
  right: 570px;
  width: 65px;
}
/* Clients Section */
.card {
  width: 370px;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.13);
  align-items: center;
  text-align: center;
  row-gap: 10px;
}
.card p {
  color: #6c6c6c;
  font-weight: 300;
  font-size: 15px;
}
.card img {
  width: 90px;
  height: 90px;
}
/* Footer section style */
footer {
  height: 280px;
  background: #0b0d17;
}
footer > div {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 80px;
}
/* Responsive for small device */
@media screen and (max-width: 576px) {
  main {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
  }
  section {
    margin-bottom: 70px;
  }
  nav {
    margin-left: 0px;
    margin-right: 0px;
  }

  .item .carosel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    width: fit-content;
    left: 0px;
    padding-bottom: 40px;
  }
  .carousel-item img {
    width: 100%;
    height: 700px;
  }
  .hot .hot-logo {
    display: none;
  }
  .package {
    flex-direction: column;
    row-gap: 50px;
  }
  .frequently .accordion{
    width: 100% !important;
  }
  footer > div {
    padding-left: 0px;
    padding-right: 0px;
  }
}
